@{
    ViewData["Title"] = "Información";
}
<h1>@ViewData["Title"]</h1>

<p>Esta aplicación web ha sido desarrollada por Ulises Benítez Domínguez
    con motivo de la realización del Trabajo de Fin de Grado del curso 2021/2022
    para utilizar los recursos desarrollados sobre una API basada en microservicios.</p>
